/* 
Use:
% for widths
rem font size
em for padding/margin
px rarely if ever

padding/margin values:
4 values = top, right, bottom, left
3 values = top, left/right, bottom
2 values = top/bottom, left/right
1 values = top/right/bottom/left
*/

* {
    font-family: 'Karla';
    font-size: 16px;
}

h1 {
    color: hsl(179, 62%, 43%);
    font-size: 24px;
}

h2 {
    color: hsl(71, 73%, 54%);
    font-size: 18px;
}

body {
    background-color: beige;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
    color: hsl(204, 43%, 93%);
}

.container {
    display: grid;
    margin: 4em auto 0em;
    grid-template-columns: auto auto;
    background-color: #FFFFFF;
    width: 55%;
    border-radius: 2%;
}

.container section {
    padding: 30px 40px;
}

.join {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20%;
}

.join p {
    color: hsl(224, 43%, 73%);
}

.monthly-sub {
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 0% 0% 0% 4%;
    background-color: hsl(179, 62%, 46%);
}

.monthly-sub span {
    color: hsl(204, 43%, 73%);
    font-size: 16px;
}

.monthly-sub p, .price, .sign-up {
    color: hsl(204, 43%, 93%);
}

.price {
    font-size: 30px;
    font-weight: bold;
}

.sign-up {
    background-color: hsl(71, 73%, 54%);
    text-align: center;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    padding: 1em 0em;
    box-shadow: 4px 6px 13px 1px rgba(61, 62, 68, 0.35);
    cursor: pointer;
}

.sign-up:hover {
    color: #000000;
}

.why-us {
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 0% 0% 4% 0%;
    background-color: hsl(179, 62%, 49%);
}

footer {
    position: absolute;
    bottom: 0;
    right: 10px;
}

@media only screen and (max-width:1020px) {
    .container {
        width: 65%;
    }
}

@media only screen and (max-width:820px) {
    .container {
        width: 75%;
    }
}

@media only screen and (max-width:680px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width:560px) {
    .container {
        width: 85%;
        grid-template-columns: auto auto;
    }

    .join {
        grid-column-start: 1;
        grid-column-end: 2;
        border-radius: 4% 4% 0% 0%;
    }

    .monthly-sub {
        grid-column-start: 1;
        grid-column-end: 2;
        border-radius: 0% 0% 0% 0%;
    }

    .why-us {
        grid-column-start: 1;
        grid-column-end: 2;
        border-radius: 0% 0% 4% 4%;
    }

    .footer {
        position: relative;
    }
}