/* 
Use:
% for widths
rem font size
em for padding/margin
px rarely if ever

padding/margin values:
4 values = top, right, bottom, left
3 values = top, left/right, bottom
2 values = top/bottom, left/right
1 values = top/right/bottom/left
*/

:root {
	/* Universal */
	--desat-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);
	--dark-red: hsl(0, 6%, 24%);

	/* Gradients */
	--gradient1: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 100%, 98%)); /* should be 135deg */
	--gradient2: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%)); /* should be 135deg */
} 

* {
	font-family: 'Josefin Sans', serif;
	font-size: 16px;
}

html {
	background-color: var(--desat-red);
}

body {
	width: 80vw;
	margin: 10vh auto 10vh auto;
	background-color: white;
}

h1, .first-word {
	text-transform: uppercase;
	font-size: 3rem;
	letter-spacing: 1rem;
	line-height: 3.25rem;
}

h1 {
	margin: 0;
	font-weight: 600;
}

.first-word {
	color: var(--desat-red);
	font-weight: 300;
}

.container {
	display: flex;
	background-image: url("/images/bg-pattern-desktop.svg");
	background-repeat: round;
	height: 80vh;
	width: 60%;
}

.text-container {
	width: 60%;
	padding: 0 9rem;
	margin-top: 5vh;
}

.hero-container {
	height: 80vh;
}

.hero-container img {
	height: 80vh;
}

.logo img {
	margin-bottom: 9vh;
}

.text-container p {
	color: var(--desat-red);
	font-size: .9rem;
	line-height: 1.5rem;
}

.email-container form {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

.email-container p {
	color: var(--desat-red);
	padding-left: 2rem;
}

input[type="email"] {
	grid-column: 1 / 9;
	grid-row: 1;
	background-image: url("/images/bg-pattern-desktop.svg");
	border: 1px solid var(--desat-red);
	border-radius: 3rem;
	padding: 1rem 2rem;
}

input[type="submit"] {
	grid-column: 7 / 9;
	grid-row: 1;
	background-image: url("/images/icon-arrow.svg"), var(--gradient2);
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid var(--desat-red);
	padding: 1rem 0;
	border-radius: 3rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--desat-red);
	opacity: .4; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--desat-red);
	opacity: .4; /* Firefox */
}
  
::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--desat-red);
	opacity: .4; /* Firefox */
}

.mobile {
	display: none;
}

.attribution {
	position: fixed;
	bottom: 0;
	left: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-height: 650px) {

	/* Set heights to hard values so it stops getting resized when the window is made shorter */
	
	/* 5vh */
	.text-container {
		margin-top: 32px;
	}

	/* 9vh */
	.logo img {
		margin-bottom: 58px;
	}
	
	/* 10vh */
	body {
		margin: 65px auto 65px auto;
	}
	
	/* 80vh */
	.container, .hero-container, .hero-container img {
		height: 521px;
	}

}

@media only screen and (max-width: 1240px) {
	
	body {
		width: 992px;
	}

}

@media only screen and (max-width: 1000px) {
	
	/* Basically turn into mobile view from here on */
	.text-container {
		display: contents;
	}

	body {
		width: 50vw;
		margin: 0 auto 0 auto;
	}

	.container {
		flex-direction: column;
		height: auto;
		width: 100%;
	}

	.container p {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
	}

	.container h1, .container p, .email-container, .hero-container {
		height: auto;
		width: 100%;
	}

	.container h1, .container p, .email-container {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 5vw 0 5vw;
		text-align: center;
	}

	h1, .first-word {
		font-size: 2.75rem;
		letter-spacing: .75rem;
		line-height: 3rem;
	}

	.text-container p {
		font-size: .9rem;
		line-height: 1.5rem;
	}

	.email-container {
		padding-bottom: 3rem;
	}

	.logo {
		order: -2;
	}

	.logo img {
		margin: 0;
		padding: 2rem 0 2rem 2rem;
	}

	.hero-container {
		order: -1;
		margin-bottom: 2rem;
	}

	.hero-container img {
		height: auto;
		width: 100%;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

}

@media only screen and (max-width: 700px) {

	h1, .first-word {
		font-size: 2.5rem;
		letter-spacing: .45rem;
		line-height: 2.75rem;
	}

	.text-container p {
		font-size: .8rem;
		line-height: 1.5rem;
	}

}

@media only screen and (max-width: 600px) {

	body {
		width: 70vw;
	}

	h1, .first-word {
		font-size: 2.5rem;
		letter-spacing: .4rem;
		line-height: 2.5rem;
	}

	.text-container p {
		font-size: .7rem;
		line-height: 1.5rem;
	}

	.container h1, .container p {
		padding: 0 7vw 0 7vw;
	}

	.email-container {
		padding: 0 7vw 3rem 7vw;
	}

}

@media only screen and (max-width: 400px) {

	body {
		width: 100vw;
	}

	h1, .first-word {
		font-size: 2.5rem;
		letter-spacing: .45rem;
		line-height: 2.75rem;
	}

	.text-container p {
		font-size: .8rem;
		line-height: 1.5rem;
	}

	.container h1, .container p {
		padding: 0 9vw 0 9vw;
	}

	.email-container {
		padding: 0 7vw 3rem 7vw;
	}

}

@media only screen and (max-width: 1240px) {
	
	body {
		width: 992px;
	}

}

@media only screen and (max-width: 1000px) {
	
	/* Basically turn into mobile view from here on */
	.text-container {
		display: contents;
	}

	body {
		width: 50vw;
		margin: 0 auto 0 auto;
	}

	.container {
		flex-direction: column;
		height: auto;
		width: 100%;
	}

	.container p {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
	}

	.container h1, .container p, .email-container, .hero-container {
		height: auto;
		width: 100%;
	}

	.container h1, .container p, .email-container {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 5vw 0 5vw;
		text-align: center;
	}

	h1, .first-word {
		font-size: 2.75rem;
		letter-spacing: .75rem;
		line-height: 3rem;
	}

	.text-container p {
		font-size: .9rem;
		line-height: 1.5rem;
	}

	.email-container {
		padding-bottom: 3rem;
	}

	.logo {
		order: -2;
	}

	.logo img {
		margin: 0;
		padding: 2rem 0 2rem 2rem;
	}

	.hero-container {
		order: -1;
		margin-bottom: 2rem;
	}

	.hero-container img {
		height: auto;
		width: 100%;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

}

@media only screen and (max-width: 700px) {

	h1, .first-word {
		font-size: 2.5rem;
		letter-spacing: .45rem;
		line-height: 2.75rem;
	}

	.text-container p {
		font-size: .8rem;
		line-height: 1.5rem;
	}

}

@media only screen and (max-width: 600px) {

	body {
		width: 70vw;
	}

	h1, .first-word {
		font-size: 2.5rem;
		letter-spacing: .4rem;
		line-height: 2.5rem;
	}

	.text-container p {
		font-size: .7rem;
		line-height: 1.5rem;
	}

	.container h1, .container p {
		padding: 0 7vw 0 7vw;
	}

	.email-container {
		padding: 0 7vw 3rem 7vw;
	}

}

@media only screen and (max-width: 400px) {

	body {
		width: 100vw;
	}

	h1, .first-word {
		font-size: 2.5rem;
		letter-spacing: .45rem;
		line-height: 2.75rem;
	}

	.text-container p {
		font-size: .8rem;
		line-height: 1.5rem;
	}

	.container h1, .container p {
		padding: 0 9vw 0 9vw;
	}

	.email-container {
		padding: 0 7vw 3rem 7vw;
	}

}