/* 
Use:
% for widths
rem font size
em for padding/margin
px rarely if ever
*/

* {
    font-family: 'Poppins';
}

h1 {
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 0.5rem;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    font-weight: 600;
    line-height: 0.5rem;
}

.container p {
    font-size: 0.9375rem;
    text-align: center;
    font-weight: 200;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

img {
    position: relative;
    left: 75%;
    top: 10px;
    width: 7vh;
}

.container {
    margin: 1em;
    padding: 1em;
}

.cyan-container, .red-container, .orange-container, .blue-container {
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-radius: 2% 2% 0% 0%;
    margin: 1.5em;
    padding: 1em 2em 2em 2em;
    box-shadow: 0px 10px 15px 1px rgba(158,160,168,0.35);
}

.cyan-container p, .red-container p, .orange-container p, .blue-container p {
    font-weight: 200;
    font-size: .8rem;
}

.cyan-container {
    border-top-color: hsl(180, 62%, 55%);
}

.red-container {
    border-top-color: hsl(0, 78%, 62%);
}

.orange-container {
    border-top-color: hsl(34, 97%, 64%);
}

.blue-container {
    border-top-color: hsl(212, 86%, 64%);
}

@media only screen and (min-width: 1000px) {

    .container {
        width: 71vh;
        text-align: center;
        margin: 10vh auto 5vh auto;
    }

    h1 {
        font-weight: 200;
        font-size: 2rem;
    }

    h2 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.5rem;
    }

    body {
        align-items: center;
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    .cyan-container, .red-container, .orange-container, .blue-container {
        padding: 1em 1.5em 2em 1.5em;
        height: 27vh;
        width: 25vw;
    }

    .red-container, .orange-container {
        float: center;
    }

    .cyan-container, .blue-container {
        float: left;
    }

}