/* 
Use:
% for widths
rem font size
em for padding/margin
px rarely if ever

padding/margin values:
4 values = top, right, bottom, left
3 values = top, left/right, bottom
2 values = top/bottom, left/right
1 values = top/right/bottom/left
*/

:root {
    --dark-blue: hsl(217, 19%, 35%);
    --dark-blue-desaturated: hsl(214, 17%, 51%);
    --gray: hsl(212, 23%, 69%);
    --light-gray: hsl(210, 46%, 95%);

    --hyperlink: hsl(228, 45%, 44%);
}

* {
    font-family: 'Manrope', serif;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: var(--hyperlink);
}

body {
    width: 100vw;
    background-color: var(--light-gray);
}

h1 {
    font-size: 18px;
    color: var(--dark-blue);
    margin: 0;
}

p {
    font-size: 13px;
}

.container {
    margin: 30vh auto;
    background-color: white;
    height: 15em;
    width: 40em;
    display: flex;
    justify-content: center;
    border-radius: 3%;
}

.container p {
    color: var(--dark-blue-desaturated);
}

.preview {
    padding: 1.3em 1.7em;
}

.preview-footer {
    display: flex;
    align-items: center;
}

.preview-footer img {
    height: 2em;
    border-radius: 50%;
}

.article-details {
    margin-left: 1em;
    flex-grow: 1;
}

.article-name {
    font-size: 13px;
}

.article-date {
    font-size: 13px;
    color: var(--gray);
}

.drawers {
    width: 47em;
    height: 100%;
    overflow: hidden;
}

.drawers img {
    height: 100%;
    border-radius: 3%;
}

.share-icon img {
    position: relative;
    z-index: 20;
    height: 1em;
}

.share-icon:before {
    content: "";
    position: relative;
    border-top: 10px solid;
    border-left: 30px solid;
    border-radius: 50%;
    left: 23px;
    top: 3px;
    color: var(--light-gray);
}

.share-icon:hover:before {
    color: var(--gray);
}

.share-container {
    background-color: var(--dark-blue);
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    left: 200px;
    top: -115px;
    padding: 1em 2em;
    border-radius: .9em;
}

.share-container h3 {
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 13px;
    color: var(--dark-blue-desaturated);
    padding: 0;
    margin: 0;
}

.share-container img {
    padding-left: 1em;
}

.share-container:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 80%;
    transform: rotate(45deg);
    border-bottom: 20px solid;
    border-left: 20px solid;
    color: var(--dark-blue);
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 800px) {

    .container {
        flex-direction: column;
        align-content: center;
        margin: 10% auto 0 auto;
        width: 19em;
        height: 34em;
        border-radius: 7%;
    }

    .drawers {
        overflow: hidden;
    }

    .drawers img {
        height: auto;
        width: 19em;
        border-radius: 7% 7% 0 0;
    }

    h1 {
        font-size: 17px;
    }

    .preview {
        height: 15em;
    }

    .share-container {
        background-color: var(--dark-blue);
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
        padding: 1em 2em;
        border-radius: 7em;
    }

    .share-container img {
        padding-left: 1.5em;
    }
