/* 
Use:
% for widths
rem font size
em for padding/margin
px rarely if ever

padding/margin values:
4 values = top, right, bottom, left
3 values = top, left/right, bottom
2 values = top/bottom, left/right
1 values = top/right/bottom/left
*/

:root {
    /* Universal */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --afl: #e21e31;
    --aleague: #ff7000;
    --cricket: linear-gradient(90deg, hsl(148, 100%, 26%), hsl(48, 100%, 50%));
    --nrl: hsl(150, 100%, 22%);
    --theme-toggle: linear-gradient(270deg, #378fe6, #3eda82);
    --button-dark: hsl(232, 19%, 15%);
    --button-light: hsl(225, 100%, 98%);

    /* Theme (Dark by default) */
    --background: hsl(230, 17%, 14%);
    --background-top: hsl(232, 19%, 15%);
    --background-card: hsl(228, 28%, 20%);
    --text-pale: hsl(228, 34%, 66%);
    --text-grey: hsl(220, 15%, 85%);
    --text: hsl(0, 0%, 100%);
    --hover: #404860;
}

* {
    font-family: 'inter', sans-serif;
}

.testtext {
    color: white;
}

html[data-theme="light"] {
    --background: hsl(0, 0%, 100%);
    --background-top: hsl(225, 100%, 98%);
    --background-card: hsl(227, 47%, 96%);
    --text-pale: hsl(228, 12%, 44%);
    --text-grey: hsl(228, 12%, 44%);
    --text: hsl(230, 17%, 14%);
    --hover: hsl(227, 47%, 92%);
}

/* add transition for theme switch */
html.transition body, html.transition h1, html.transition h2, html.transition h3, html.transition p {
    transition: all 750ms;
    transition-delay: 0;
}

.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    width: 80%;
    margin: auto;
    background-color: var(--background);
}

article {
    margin: .6em .6em;
    padding: 1em 1em;
    background-color: var(--background-card);
    cursor: pointer;
}

article:hover {
    background-color: var(--hover);
}

header {
    margin-top: 1em;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.refresh {
    margin-bottom: .7em;
    margin-left: .7em;
    background-color: #f1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    font-weight: 700;
    padding: .5em;
    touch-action: manipulation;
}

.refresh:hover {
    background-color: #b3d3ea;
    color: #2c5777;
}

.dark-mode {
    display: flex;
    align-items: center;
}

.total-followers {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.container {
    cursor: pointer;
}

.social {
    color: inherit;
    text-decoration: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    float: right;
    height: 25px;
    width: 50px;
    background: var(--theme-toggle);
    border-radius: 1rem;
    margin-left: 1em;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: block;
    right: 25px;
    top: 2px;
    width: 21px;
    height: 21px;
    background-color: var(--button-light);
    border-radius: 50%;
    transition: 1s;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    transform: translateX(100%);
    background-color: var(--button-dark);
}

.total-followers a {
    overflow: hidden;
}

.total-followers article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 4px solid;
    border-radius: 3%;
    height: 100%;
}

.total-followers .afl {
    border-top-color: var(--afl);
}

.total-followers .aleague {
    border-top-color: var(--aleague);
}

.total-followers .cricket {
    border-image-source: var(--cricket);
    border-image-slice: 1;
}

.total-followers .nrl {
    border-top-color: var(--nrl);
}

.total-followers h3 {
    font-size: 3rem;
    margin-top: .3em;
    margin-bottom: 0em;
}

.total-followers img, .change-green img, .change-red img {
    margin-right: .5em;
}

.total-followers span, .change-green, .change-red {
    display: flex;
    align-items: center;
}

.metric p {
    margin-top: 0rem;
    margin-bottom: 1.5em;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.channel-stats {
    display: grid;
    column-gap: .4em;
    row-gap: .2em;
    grid-template-columns: repeat(4, 1fr);
}

.channel-stats article {
    display: grid;
    row-gap: 1.5em;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border-radius: 5%;
}

.channel-stats .icon {
    justify-self: end;
}

.channel-stats .metric {
    font-size: 1rem;
    justify-self: end;
    align-self: end;
    text-align: right;
}

.channel-stats .name {
    font-size: 1rem;
}

.channel-stats .number {
    font-size: 1.5rem;
    align-self: auto;
}

.channel-stats .percent {
    justify-self: end;
    align-self: end;
}

.stats {
    margin-bottom: .5em;
    margin-top: 1.5em;
    padding-left: .4em;
}

h1 {
    margin-bottom: 0.1em;
    padding-left: .4em;
}

.dashboard-head h2 {
    margin-top: 0em;
    margin-bottom: 1em;
    padding-left: .7em;
}

h1, h2, h3, .number {
    color: var(--text);
    font-weight: 700;
}

p, .display-name, .metric, .dark-mode {
    color: var(--text-pale);
    font-weight: 400;
    font-size: .875rem;
}

.name {
    color: var(--text-grey);
    font-size: 1.5rem;
    font-weight: 700;
}

.change-green {
    color: var(--lime-green);
    font-size: 12px;
}

.change-red {
    color: var(--bright-red);
    font-size: .75rem;
}

@media only screen and (max-width: 850px) {
    
    body {
        width: 85%;
    }

    .total-followers {
        grid-template-columns: repeat(2, 1fr);
    }

    .channel-stats {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 650px) {
    
    header {
        flex-direction: column;
    }

    .dark-mode {
        align-self: flex-end;
    }

    .total-followers {
        grid-template-columns: repeat(2, 1fr);
    }

    .channel-stats {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 460px) {
    
    body {
        width: 90%;
    }


    h1 {
        padding: 0;
        font-size: 1.7em;
    }

    .total-followers {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 350px) {
    
    body {
        width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    .total-followers {
        grid-template-columns: repeat(1, 1fr);
    }

    .channel-stats {
        grid-template-columns: repeat(1, 1fr);
    }
}