@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    background-color: #000000;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    width: 100vw;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cta-call {
    text-align: center;
    background-color: #ECAE44; /* real colour */
    width: 80%;
    display: block; /* required element if you are giving anchor text width */
    color: #fff;
    padding: .7em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 5% auto 5%;
    position: relative;
    z-index: 4;
}

.cta-findus {
    text-align: center;
    background-color: #83A846; /* real colour */
    width: 80%;
    display: block; /* required element if you are giving anchor text width */
    color: #fff;
    padding: .7em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 7% auto 7%;
    position: relative;
    z-index: 4;
}

.white-container {
    background-color: #FFFFFF;
    padding-top: .5em;
    width: 100vw;
    position: relative;
}

.white-container .main-heading {
    color: #3A3A3A; /* real colour */
}

.white-container .cta-images {
    margin-bottom: 3em;
    margin-top: 5em;
}

.white-container .cta-images li a img {
    margin-bottom: -0.3em;
}

.white-container img {
    width: 100vw;
}

.grey-container p {
    margin: 0;
    color: #FFFFFF;
    background-color: #3A3A3A /* real colour */;
}

.grey-container .copyright {
    color: #FFFFFF;
}

.footer-container p {
    color: #FFFFFF;
}