/* 
Use:
% for widths
rem font size
em for padding/margin
px rarely if ever
*/

* {
    font-family: arial;
}

header {
    background-color: #272940;
}

body {
    background: linear-gradient(#1F256A, #272940);
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    color: #B9B7B0;
    font-size: 2.5rem;
    margin: 0;
    padding-top: .3em;
    padding-bottom: .3em;
    text-align: center;
}

.icons {
    margin: 1em 10em;
    /* set up a 3x5 grid (row x col) for the icons */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.icons article div:hover {
    cursor: pointer;
}

.icons article img {
    height: 6rem;
    fill: white;
}

div article {
    /* set article elements to relative to allow the pop-up buttons to anchor to them, allowing me to properly position the buttons */
    position: relative;
    width: 100%;
}

.nas {
    /* grid-area: grid-row-start / grid-column-start */
    grid-area: 1 / 1;
}

.router {
    grid-area: 1 / 3;
}

.passwords {
    grid-area: 1 / 5;
}

.energy {
    grid-area: 2 / 1;
}

.internet {
    grid-area: 2 / 3;
}

.mygov {
    grid-area: 2 / 5;
}

.meal-delivery {
    grid-area: 3 / 2;
}

.shares {
    grid-area: 3 / 4;
}

article h2 {
    color: #7C9A63;
    font-size: 1.66rem;
    margin: .2em;
}

.hide-button {
    /* visibility: hideen will be the default value, when button is clicked it will toggle this value - important tag as it is the default and shouldn't be overridden when this class is present */
    visibility: hidden !important;
    opacity: 0 !important;
}

.icon-button {
    margin: 0.8em 0em;
    padding: 0.8em 0em;
    text-align: center;
    display: flex;
    /* place-self combines justify and align self, not sure on compatibility for this */
    place-self: center;
    flex-direction: column;
}

.button-text {
    color: #B48E0C;
}

.left-button, .middle-button, .right-button {
    /* buttons that transition in once hide-button class is removed by JS */
    background-color: #6A591F;
    border-radius: .8em;
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: visibility .3s, opacity .3s ease-out;
}

.left-button {
    left: -7em;
    top: 3.5em;
}

.middle-button {
    left: 3.2em;
    top: -1.4em;
}

.right-button {
    left: 9em;
    top: 3.5em;
}

.energy .left-button {
    left: -5.2em;
}

.energy .right-button {
    left: 8.2em;
}

.internet .left-button {
    left: -6.1em;
}

.mygov .left-button {
    left: -4.2em;
}

.mygov .right-button {
    left: 9.1em;
}

.table-container {
    width: 80%;
    margin: auto;
}

.table-container a {
    color: lightblue;
}

.pw-table {
    width: 100%;
    color: white;
    text-align: left;
}

.pw-data {
    /* shows password field as hidden until hovered over */
    -webkit-text-security: disc;
}

.pw-data:hover {
    -webkit-text-security: none;
}