/* 
Use:
% for widths
rem font size
em for padding/margin
px rarely if ever

padding/margin values:
4 values = top, right, bottom, left
3 values = top, left/right, bottom
2 values = top/bottom, left/right
1 values = top/right/bottom/left
*/

:root {
	/* Universal */
	--pale-blue: hsl(243, 100%, 93%);
	--gray-blue: hsl(229, 7%, 55%);
	--dark-blue: hsl(228, 56%, 26%);
	--very-blue: hsl(228, 56%, 24%);
	--very-very-blue: hsl(228, 56%, 10%);

	/* Storage */
	--storage-gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
} 

* {
	font-family: 'Manrope', serif;
	font-size: 14px;
}

body {
	height: 100vh;
	background-color: hsl(229, 57%, 11%);
	background-image: url("/images/bg-desktop.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100vw;
}

p {
	color: var(--pale-blue);
	font-weight: 300;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.fylo-container {
	margin-right: 1em;
	padding: 2em 8em 2em 2em;
	background-color: var(--very-blue);
	border-radius: .5em 5em .5em .5em;
}

.logo img {
	height: 2em;
}

.icons {
	margin-top: 1.5em;
	display: flex;
}

.icons div {
	display: flex;
}

.icons div img {
	align-self: center;
}

.icon {
	background: var(--very-very-blue);
	border-radius: .5em;
    padding: .5em;
}

.icon-document {
	padding: 7px 9px;
}

.icon-folder, .icon-upload {
	margin-left: 1em;
}

.status-container {
	margin-left: 1em;
	background-color: var(--very-blue);
	border-radius: 1em;
}

.current-storage {
	padding-top: 1em;
	display: flex;
}

.remaining-storage-container {
	position: absolute;
	display: flex;
	align-items: center;
	background-color: white;
	padding: 0em 1em;
	border-radius: 1em;
}

.remaining-storage-container p {
	color: var(--gray-blue)
}

.storage-remaining {
	margin-right: .3em;
	color: black;
	font-size: 2em;
}

.storage-bar:before {
	content: "";
	margin-top: 1em;
	width: 100%;
	height: 11px;
	border-radius: 2em;
	background: var(--very-very-blue);
}

.storage-bar:after {
	content: "";
	position: absolute;
	margin-top: 1em;
	width: 250px;
	height: 11px;
	border-radius: 2em;
	background: var(--storage-gradient);
}

.storage-bar {
	padding-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.storage-bar p {
	font-weight: 700;
}

.current-storage, .storage-bar {
	padding-left: 2em;
	padding-right: 2em;
}

.attribution {
	position: fixed;
	bottom: 0;
	right: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}